.square-btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff20;
}
.square-btn:hover{
    
    background-color: #fff;
    color: #000;
}