
.page-header{
	position: relative;
	
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
	border-radius: 20px;
	padding: 285px 0 150px;
	margin: 15px 15px 0;
	overflow: hidden;
}

.page-header:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(270deg, transparent 0%, rgba(24, 25, 26, 0.72) 57.33%, rgba(24, 25, 26, 0.90) 100%);
	z-index: 1;
}

.page-header-box{
	position: relative;
	z-index: 2;
}

.page-header-box h1{
	display: inline-block;
	font-size: 60px;
    font-weight: 400;
	color: var(--white-color);
	margin-bottom: 15px;
	cursor: none;
}

.page-header-box ol{
	margin: 0;
	padding: 0;
}

.page-header-box ol li.breadcrumb-item{
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
    text-transform: capitalize;
	color: var(--white-color);
}

.page-header-box ol li.breadcrumb-item a{
    color: inherit;
}

.page-header-box ol .breadcrumb-item+.breadcrumb-item::before{
    color: var(--white-color);
}
